*{
margin: 0;
padding: 0;
}
:root{
    --cor-fundo:#C240FF;
    --cor-fontes:#FFFFFF;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color:var(--cor-fontes);
    display:flex; 
    justify-content:space-around;
    align-items:center;
    padding: 24px 0;
}
.imagem-cabecalho{
    width: 10%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#C240FF, #000000);
    color: var(--cor-fontes);
    display:flex;
}