:root{
    --cor-fundo:#C240FF;
    --cor-fontes:#FFFFFF;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color:var(--cor-fontes);
    display:flex; 
    justify-content:space-around;
    align-items:center ;
    padding: 24px 0;
}
.imagem-cabecalho{
    width: 10%;
}